{% extends 'base.html.twig' %}
{% block title 'Accueil' %}

{% block body %}
    <div class="jumbotron" text-center>
        <h1> Venuzy</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat, aliquid dolore? Ipsam ab nam, sapiente illum doloribus iste, possimus, tempore beatae ratione porro voluptates placeat dicta? Eum nulla unde dolores?</p>
        
    </div>
{% endblock %}